.testimonial {
  margin: 0 4.5rem;
  padding-top: 10rem;
}

.testimonialLeft {
  width: 18rem;
}

.testimonialRight {
  width: 32rem;
  white-space: pre-wrap;
}

@media (min-width: 360px) and (max-width: 767px) {
  .testimonial {
    margin: 0;
    padding-top: 8rem;
  }
  .testimonialLeft {
    width: 100%;
    margin-bottom: 2rem;
  }
  .testimonialRight {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .testimonialRight {
    width: 28rem;
  }
}
