.profile {
  background-position: top center;
}

.profileSmall {
  width: 35rem;
  height: 25rem;
  background-size: cover;
  background-position: top center;
}

.contactDetails {
  padding-bottom: 1.5rem;
}
