.profile {
  background-position: top center;
}

.profileSmall {
  width: 35rem;
  height: 25rem;
  background-size: cover;
  background-position: top center;
}

.contactDetails {
  padding-bottom: 1.5rem;
}

.contact {
  width: 18rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profileSmall {
    width: 100%;
    height: 15rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .profileSmall {
    width: 20rem;
    height: 15rem;
  }
}
