@import "colours.scss";

.mainContainer {
  width: 100%;
}

.imageOverlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 44rem;
  background-color: $blackTransparent;
}

.heroImageHome {
  height: 44rem;
  background-size: cover;
  background-position: top center;
}

.content {
  padding: 5rem 4.5rem;
}

.biography {
  width: 55%;
  font-size: 1.3rem;
  line-height: 1.4;
  padding-bottom: 5rem;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 360px) and (max-width: 767px) {
  .imageOverlay {
    height: 30rem;
  }
  .heroImageHome {
    height: 30rem;
  }
  .content {
    padding: 2rem;
  }
  .biography {
    width: 100%;
    font-size: 1rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .imageOverlay {
    height: 25rem;
  }
  .heroImageHome {
    height: 25rem;
  }
  .content {
    padding: 3rem;
  }
  .biography {
    width: 60%;
    font-size: 1rem;
    padding-bottom: 3rem;
  }
  .projectContainer {
    justify-content: left;
  }
}
