@import "colours.scss";

.pagination {
  width: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;
  margin: auto;
}

.paginationButton {
  font-size: 0.8rem;
  cursor: pointer;
}

.paginationButton:hover {
  text-decoration: underline;
}

.inactiveLink {
  color: $grey;
  cursor: default;
  text-decoration: none;
}

.inactiveLink:hover {
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .pagination {
    width: 5rem;
    padding: 0 0 2.5rem 0;
  }
  .paginationButton {
    font-size: 0.6rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .pagination {
    padding: 3.5rem 0;
  }
}
