@import "colours.scss";

.projectCard {
  margin: 0 1.5rem 1.5rem 0;
}

.cardOverlay {
  width: 22rem;
  height: 14rem;
  background: $whiteTransparent;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.cardOverlay:hover {
  opacity: 1;
}

.cardTitle {
  color: $black;
  font-size: 1.2rem;
  padding: 0 2.5rem;
  text-align: center;
}

.cardImage {
  width: 22rem;
  height: 14rem;
  background-size: cover;
  background-position: center;
}

@media (min-width: 360px) and (max-width: 767px) {
  .projectCard {
    margin: 0 0 1rem 0;
  }
  .cardImage {
    width: 20rem;
    height: 12rem;
  }
  .cardOverlay {
    width: 20rem;
    height: 12rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .projectCard {
    margin: 0 1rem 1rem 0;
  }
  .cardImage {
    width: 18rem;
    height: 12rem;
  }
  .cardOverlay {
    width: 18rem;
    height: 12rem;
  }
}
