@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,700,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 16px;
}

.title {
  font-size: 2.5rem;
  line-height: 2.8rem;
  margin-bottom: 1.5rem;
}

.headerSmall {
  font-weight: 400;
}

.heroImage {
  height: 30rem;
  background-size: cover;
  background-position: center;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  margin: 3rem 4rem;
}

.leftColumn {
  width: 15rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.rightColumn {
  width: 30rem;
  line-height: 1.5rem;
}

@media (min-width: 360px) and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .heroImage {
    height: 15rem;
  }
  .infoContainer {
    flex-direction: column;
    margin: 0;
    padding: 2rem;
  }
  .title {
    margin-top: 2rem;
    margin-bottom: 0.8rem;
  }
  .leftColumn {
    width: 100%;
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
  .rightColumn {
    width: 100%;
    line-height: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  .heroImage {
    height: 25rem;
  }
  .infoContainer {
    margin: 3rem;
  }
  .title {
    margin-bottom: 0.8rem;
  }
  .leftColumn {
    width: 13rem;
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
  .rightColumn {
    width: 25rem;
    line-height: 1.4rem;
  }
}
