@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,700,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 16px;
}

.title {
  font-size: 2.5rem;
  line-height: 2.8rem;
  margin-bottom: 1.5rem;
}

.headerSmall {
  font-weight: 400;
}

.heroImage {
  height: 30rem;
  background-size: cover;
  background-position: center;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  margin: 3rem 4rem;
}

.leftColumn {
  width: 15rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.rightColumn {
  width: 30rem;
  line-height: 1.5rem;
}
